body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero {
  background-color: rgb(11, 11, 11);
  color: white;
  padding-bottom: 3rem; 
}

#supportHero a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
}


#supportWrapper, 
#contentWrapper {
  max-width: 1200px;
  margin: 0 auto !important; 
  display: flex;
}

#supportWrapper {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.717); 
}

#supportHero input {
  padding: 15px 30px;
  width: 100%;
  font-size: 18px;
  border-radius: 4px; 
  border: none;
  outline: none;
  color: #333;
}

.hero-links a {
  display: inline-block;
  margin-right: 25px;
  font-size: 15px;
  margin-bottom: 10px;
}

#contentWrapper ol li {
  font-size: 18px;
  line-height: 1.5;
}